* {
    padding: 0;
    margin: 0;
}

:root {
    box-sizing: border-box;
}
  
body {
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

svg{
    fill: black;
}

h1 {
    font-size: 5rem;
    font-weight: 400;
}

p {
    font-size: 1.7rem;
}

span::after {
    content: '\A';
    white-space: pre;
}

.global-wrapper {
    display: flex;
    flex-flow: column;
    gap: 80px;
}

header {
    position: relative;
    padding: 10rem 8rem 8rem 12rem;
}

.background-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #2596be;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}

.about-me-container {
    min-width: 730px;
    height: 30%;
    background-color: white;
    display: flex;
    gap: 1rem;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.person-img-1-div {
    float: left;
    max-width: 50%;
    max-height: 550px;
}

.person-1-img {
    max-width: 100%;
    transform: translate(-5%, -8%);
}

.about-me-text-container {
    display: flex;
    flex-direction: column;
    padding: 55px;
}

.about-me-text-container > h1, .about-me-text-container > p {
    line-height: 1.5;
}

.icons-container {
    margin-top: 45px;
    display: flex;
    justify-content: flex-end;
    gap: 32px;
}


main {
    padding: 0rem 8rem;
}

.section-1 {
    margin: 40px 0;
}

.section-2 {
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    grid-template-rows: auto;
    gap: 70px;
}

.project-card {
    width: inherit;
    height: 650px;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.img-div {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-div > h2 {
    font-size: 4.7rem;
    font-weight: normal;
    color: white;
    text-align: center;
    margin: 0 35px;
}

.img-div-1{
    background-color: #9e1c1c;
}
.img-div-2{
    background-color: #7c75ca;
}
.img-div-3{
    background-color: #5e8f4d;
}
.img-div-4{
    background-color: #c363b4;
}
.img-div-5{
    background-color: #d88f39;
}
.img-div-6{
    background-color: #4ba2d2;
}

.project-desc {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
}

.project-desc > p {
    color: grey;
}

.project-name {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.project-name > h2 {
    font-size: 2rem;
}

.project-name > svg:first-of-type {
    margin-left: auto;
}

footer {
    padding: 3rem 8rem;
    background-color: #2596be;
}

.inside-footer-container {
    display: flex;
    justify-content: space-between;
}

.person-img-2-div {
    max-width: 50%;
    min-width: 55%;
}

.person-img-2 {
    max-width: 100%;
    max-height: 100%;
}

.contact-me-div {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

.contact-me-div > h2 {
    font-size: 3rem;
    font-weight: 400;
}

.contact-div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 35px;
}

.contact-div > svg {
    fill: white;
}

.icons-container-at-bottom {
    justify-content: flex-start;
}

.svg-smaller {
    width: 50px;
    height: 50px;
}

.svg-bigger {
    width: 40px;
    height: 40px;
}


@media (max-width: 1660px) {

    .project-card {
        height: 500px;
    }

    .img-div {
        h2, h2 > span {
            font-size: 3.5rem;
        }
    }

    p {
        font-size: 1.4rem;
    }

}

@media (max-width: 1516px) {
    .section-1 {
        h1 {
            font-size: 4rem;
        }
    }
    .section-2 {
        grid-template-columns: repeat(2, minmax(380px, 400px));
        justify-content: center;
    }

    footer {
        padding: 5rem 4rem 2.7rem;
    }

}

@media (max-width: 1380px) {
    .about-me-text-container {
        div > h1 {
            font-size: 3.5rem;
        }

        .icons-container {
            display: none;
        }
    }

    .contact-me-div {
        h2 {
            font-size: 2.3rem;
        }

        p, p > span {
            font-size: 1.3rem;
        }

        .svg-smaller {
            width: 40px;
            height: 40px;
        }
    }

    .icons-container-at-bottom {
        svg {
            width: 40px;
            height: 40px;
        }
    }

}

@media (max-width: 1308px) {
    .about-me-container {
        display: block;
    }

    .about-me-text-container {
        display: block;
        padding: 55px;
    }

    .person-img-1-div {
        min-width: 400px;
    }

    .about-me-text-container {
        h1 {
            font-size: 3.7rem;
        }

        p {
            font-size: 1.3rem;
        }
    }

}

@media (max-width: 1148px) {
    .section-2 {
        grid-template-columns: minmax(380px, 400px);
        justify-content: center;
    }

    .inside-footer-container {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .contact-me-div {
        gap: 20px;

        h2 {
            font-size: 3rem;
            text-align: center;
        }

        p > span, p {
            font-size: 1.1rem;
        }

        .svg-smaller {
            width: 30px;
            height: 30px;
        }

    }

    .icons-container-at-bottom {
        justify-content: center;

        svg {
            width: 30px;
            height: 30px;
        }
    }

    .contact-div {
        p {
            font-size: 1.1rem;
        }
    }

    .person-img-2-div {
        min-width: 80%;
    }

}

@media (max-width: 968px) {
    .global-wrapper {
        gap: 40px;
    }
    
    header {
        padding: 10rem 2rem 0rem;
    }

    .about-me-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .about-me-text-container {
        h1 {
            text-align: center;
        }
    }

    .about-me-text-container {
        .icons-container {
            margin-top: 45px;
            display: flex;
            justify-content: center;
            gap: 32px;
        }
    }

    .person-img-1-div {
        min-width: 500px;
    }

}

@media (max-width: 856px) {
    .about-me-container {
        background-color: transparent;
        box-shadow: none;
    }

    .background-div {
        height: 50%;
        clip-path: polygon(0 0, 100% 0, 100% 20%, 0 100%);
    }

    .about-me-container {
        min-width: auto;
    }

    .person-img-1-div {
        min-width: 80%;
    }

    .person-img-2-div {
        min-width: 90%;
    }

}

@media (max-width: 504px) {
    .about-me-text-container {
        h1 {
            font-size: 2.7rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .section-1 {
        h1 {
            font-size: 2.7rem;
        }
    }

}